@media only screen and (max-width:980px) {
    nav {
        margin-right: 5px;
    }
}

@media only screen and (max-width: 768px) {
    .main-section,
    .sidebar {
      max-width: 100%;
    }
  
    main {
      overflow: auto;
    }
  
}
  
@media only screen and (max-width: 640px){
    #masthead {
      position: static;
      margin-bottom: 20px;
    }
  
    header.container {
      padding: 0;
    }
  
    main.container {
      padding-top: 0;
    }
  
    nav {
      width: 100%;
  
      margin: 15px 0;
  
      text-align: center;
    }
}
  